services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      - KEYCLOAK_ISSUER_URL=http://localhost:9080
      - KEYCLOAK_URL=http://keycloak:8080
      - KEYCLOAK_REALM=connected-lock
      - SPRING_PROFILE=prod
    depends_on:
      - keycloak
    networks:
      - app-network

  keycloak:
    image: keycloak/keycloak:26.3.5
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    command: start-dev --import-realm
    volumes:
      - ./backend/keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
    ports:
      - "9080:8080"
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
